@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(10px);
    }

    to{
        opacity: 1,
        transform: translateY(0);
    }
}

.animate-fade{
    animation: fade 0.5s ease-in-out;
}

@keyframes spin-slow{
    from {
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.animate-spin-slow{
    animation: spin-slow 12s linear infinite;
}

@keyframes spin-reverse{
    from {
        transform: rotate(0deg);
    }

    to{
        transform: rotate(-360deg);
    }
}

.animate-spin-reverse {
    animation: spin-reverse 14s linear infinite;
}